/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap'); */

/* * {
  box-sizing: border-box;
} */

faq-container {
  background-color: #121212;
  color: #ffff;
  font-family: var(--roboto-font);
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
}

.faq-container{
    h1 {
      font-size: 90px;
      text-align: center;
      font-family: var(--lilita-font);
      margin: 30px;
      margin-top: 70px;
      /* text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4); */
      }
      
      .faq-box {
        background: #454444;
        color: #ffff;
        width: 80%;
        max-width: 600px;
        margin: 20px auto;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
        transform: translateX(100%);
        opacity: 0;
        transition: transform 0.5s ease, opacity 0.5s ease;
        overflow: inherit;
      }
      
      .faq-box:nth-of-type(even) {
        transform: translateX(-100%);
      }
      
      .faq-box.show {
        transform: translateX(0);
        opacity: 1;
      }
      
      h2 {
        margin: 0 0 10px;
        font-size: 1.5rem;
      }
      
      p {
        margin: 0;
        font-size: 1rem;
        line-height: 1.5;
      }
      
}

@media (max-width:992px) {
  .faq-container h1
  {
      font-size: 70px;
  }
  
}

@media (max-width:768px) {
  .faq-container h1
  {
      font-size: 50px;
  }
}
@media (max-width:330px) {
  .faq-container h1
  {
      font-size: 40px;
  }
}


